body{
    background:#14bd3e;
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    height:600px;
}

.boton {
    width:500px;
    height:75px;
    background:white;
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0px 50px;
    overflow:hidden;
    position:relative;
    cursor:pointer;
    transition:.3s linear
}

.boton:hover{
    transform:scale(1.1)
}

.boton span{
    position:absolute;
    width:100%;
    height:100%;
    font-size: 200%;
    background:#ffffff;
    color:#14bd3e;
    text-align:center;
    line-height:75px;
    z-index:999;
    transition:.6s linear;
    border-radius:40px;
}

.boton:hover span{
    transform:translateX(-100%);transition-delay:.3s
}

.boton a{
    flex:1;
    margin-right:20px;
    text-align:center;
    transform:translateX(-100%);
    transition:.3s linear
}

.boton:hover a{
    opacity:1;
    transform:translateX(0)
}

.boton a:nth-of-type(1){
    transition-delay:1s
}

.boton a:nth-of-type(2){
    transition-delay:.8s
}

.boton a:nth-of-type(3){
    transition-delay:.6s
}

.boton a:nth-of-type(4){
    transition-delay:.10s
}

.boton a:nth-of-type(5){
    transition-delay:.12s
}